[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robocar-keras-steering = {editable = true,path = ".",extras = []}
robocar_protobuf = { git = 'https://github.com/cyrilix/robocar-protobuf.git', ref = 'v1.0.0', editable = true}
importlib = "*"
#keras = "*"
docopt = "*"
mqtt = "*"
paho-mqtt = "*"
pyyaml = "==5.3"
pycoral = "*"
numpy ="*"

[dev-packages]
robocar-keras-steering = {editable = true,path = ".",extras = ["tests"]}

[requires]
python_version = "3.7"
